{{>common/header}}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/java-web/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <div class="site-heading">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {{#posts}}     <!--리스트 형태로 받는다. posts에 담긴 리스트가 담겨있는 posts 객체만큼 반환-->
            <div class="post-preview">
                <a href="/post/{{id}}">    <!-- posts 리스트의 id 변수들을 가져옴 -->
                    <h2 class="post-title">{{title}}</h2>
                    <h3 class="post-subtitle">{{content}}</h3>
                </a>
                <p class="post-meta">
                    Posted by {{username}}
                </p>
            </div>
            <hr class="my-4" />
           {{/posts}}

            <div id="more-posts"></div>    <!--더보기를 눌렀을 때 이부분에 append-->
            <div class="d-flex justify-content-center mb-4">
                <a class="btn btn-primary text-uppercase" id="more" current-page="1">More</a>
            </div>
        </div>
    </div>
</div>
{{>common/footer}}